<.flash_group flash={@flash} />
<div class="ms-4">
  <h1>TOP</h1>
  <ul class="ms-4 mt-3">
    <li><.link href={~p"/nico/search"}>nico/search</.link></li>
    <li><.link href={~p"/nico/bulk"}>nico/bulk</.link></li>
  </ul>
</div>
